@model TantsuvõistlusMVC.Models.Võistlus

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Võistlus</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tantsupaari_Nimi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tantsupaari_Nimi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Voor1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Voor1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Voor2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Voor2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Voor3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Voor3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KeskmineHinne)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KeskmineHinne)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
