@model IEnumerable<TantsuvõistlusMVC.Models.KeskmineHinneViewModel>

@{
    ViewData["Title"] = "Koondleht";
    var loendur = 1;
}

<h1>Koondleht</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Koht
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tantsupaari_Nimi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voor1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voor2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voor3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KeskmineHinne)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
         
        @foreach (var item in Model.OrderByDescending(item => item.KeskmineHinne))
        {
            <tr>
                <td>
                    @loendur
                    @{loendur++;}

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tantsupaari_Nimi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Voor1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Voor2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Voor3)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KeskmineHinne)
                </td>
            </tr>
        }

    </tbody>
</table>
